<body class="background">
  <main>
    <p id="notice"></p>
    <div class='container'>
      <div class='row'>
        <h2>About</h2>
        <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 introduction'>
          <h2 class="px-3 mx-auto">過去問共有サイトへようこそ！</h2>
          <p class="px-3 mx-auto">
            このサイトでは、<br>
            様々な授業の過去問を共有することができます
          </p>
        </div>
      </div>
    </div>
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <a href="https://www.pakutaso.com" title="無料の写真素材「ぱくたそ」" >無料の写真素材「ぱくたそ」 </a>
        </div>
      </div>
    </div>
  </main>
</body>