// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-image: image-url('PAK15_notepenhikkiyougu20140312_TP_V4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.introduction{
  padding-top:100px;
}
.buttons{
  padding-top:300px;
}
